<div id="container">
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>

    <!-- <br><br>
    
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-card>
      <mat-card-content class="mat-card-container">

        <mat-form-field class="example-form-field">
          <mat-label>Vezetéknév</mat-label>
          <input matInput type="text" [(ngModel)]="value1">
          <button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br><br>

        <mat-form-field class="example-form-field">
          <mat-label>Keresztnév</mat-label>
          <input matInput type="text" [(ngModel)]="value2">
          <button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br><br>

        <mat-form-field class="example-form-field">
          <mat-label>Életkor</mat-label>
          <input matInput type="number" [(ngModel)]="value3">
          <button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br><br>

        <mat-checkbox [(ngModel)]="checked">Cég vagy?</mat-checkbox><br><br>
        
        <button mat-raised-button color="primary">Bejelentkezés</button>

      </mat-card-content>
    </mat-card>
     -->

</div>

<p>{{test}}</p>
<p>{{test | date: "yyyy/MM/dd"}}</p>
<p>{{test | date: "fullDate" | uppercase}}</p>



<p *ngIf="loggedIn; else loggedOut">Be vagy jelentkezve!</p>  <!-- csak ez a p tag jelenik meg a feltételtől függően-->

<ng-template #loggedOut>
  <p>Kérjük, lépj be!</p>
</ng-template>

<!-- VAGY ÍGY: -->

<ng-container *ngIf="loggedIn; then loggedInTemplate; else loggedOutTemplate">
</ng-container>

<ng-template #loggedInTemplate>
  <p>Be vagy jelentkezve!</p>
</ng-template>

<ng-template #loggedOutTemplate>
  <p>Kérjük, lépj be!</p>
</ng-template>


<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
  Do it!
</button>

<br><br>

<!-- 
<div>{{keys[0]}}</div>
<span *ngFor="let product of productsByCategories.smartphones">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span>

<div>{{keys[1]}}</div>
<span *ngFor="let product of productsByCategories.laptops">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span>

<div>{{keys[2]}}</div>
<span *ngFor="let product of productsByCategories.fragrances">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span>

<div>{{keys[3]}}</div>
<span *ngFor="let product of productsByCategories.skincare">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span>

<div>{{keys[4]}}</div>
<span *ngFor="let product of productsByCategories.groceries">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span>

<div>{{keys[5]}}</div>
<span *ngFor="let product of productsByCategories.homeDecoration">
  <img src="{{product.thumbnail}}">
  <button (click)="navigateToProduct(product)">Érdekel</button>
</span> -->



<!-- <ng-container *ngFor="let key of keys">
  <div>{{key}}</div>
  <ng-container *ngFor="let productsByOneCategory of values">
      <ng-container *ngFor="let product of productsByOneCategory">
        <ng-container *ngIf="product.category == key.toLowerCase()">
          
            <img src="{{product.thumbnail}}">
            <button (click)="navigateToProduct(product)">Érdekel</button>
          
        </ng-container>
      </ng-container>
  </ng-container>
</ng-container> -->

<ng-container *ngFor="let key of keys">
  <div>{{key}}</div>
  <div id="boxForOneCategory">
    <ng-container *ngFor="let productsByOneCategory of values">
      <ng-container *ngFor="let product of productsByOneCategory">
        <ng-container *ngIf="product.category == key.toLowerCase()">

          <div id="boxForOneProd">
            <img src="{{product.thumbnail}}">
            <button (click)="navigateToProduct(product)" id="buttonForNavOneProd">Érdekel</button>
          </div>

        </ng-container>
      </ng-container>
  </ng-container>
  </div>
</ng-container>

 