
<div id="header">
  <!-- <a [routerLink]="['']">HOME</a>    semmi ne legyen írva
  <a [routerLink]="['login']">Bejelentkezés</a>    login legyen írva a localhost:4200/ után
  <a [routerLink]="['registration']">Regisztráció</a>
  <span (click)="navigateToHome()">HOME</span>
  <span (click)="navigateToLogin()">Bejelentkezés</span> -->

  <button mat-button [matMenuTriggerFor]="menu">Menü</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']">HOME</button>
    <button mat-menu-item [routerLink]="['auth/login']">Bejelentkezés</button>
    <button mat-menu-item [routerLink]="['auth/registration']">Regisztráció</button>
    <button mat-menu-item [routerLink]="['post-list']">Post lista</button>
  </mat-menu>

</div>


<router-outlet></router-outlet>

<div id="footer">
  <p>All rights reserved.</p>
</div>