
.button {
    // display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    
    
}

#completeButton {
    color: white;
    background-color: green;
}

#incompleteButton {
    color: white;
    background-color: red;
}