
<p>try event</p>
    <button (mouseover)="count = count + 1">
        Increment (when mouse is over)
    </button>
    count: {{count}}

<br><br>

<div *ngIf="product" id="divForProduct">

    <div class="wrapper">
        <img src="{{product.thumbnail}}">
        <p class="productName">{{product.title}}</p>
    </div>

    <div id="divForPrices">
        <p id="productPrice">${{product.price}}</p>
        <p id="discountPrice"> ${{(product.price - product.price * product.discountPercentage / 100).toFixed(2)}}</p>
        <div id="divForDiscount">{{product.discountPercentage}}%</div>
    </div>
    
    <button id="buyItButton">Megveszem</button>

</div>