
<p>try event</p>
    <button (mouseover)="count = count + 1">
        Increment (when mouse is over)
    </button>
    count: {{count}}

<br><br>

<div *ngIf="product" id="divForProduct">
    
    <div>
        <img src="{{product.thumbnail}}">
    </div>
    <!-- <p>
        Product ID: {{product.id}}
    </p> -->
    <p id="productName">
        {{product.title}}
    </p>

    <div id="divForPrices">
        <p id="productPrice">{{product.price}} $</p>
        <p id="discountPrice"> {{(product.price - product.price * product.discountPercentage / 100).toFixed(2)}} $</p>
        <div id="divForDiscount">{{product.discountPercentage}}%</div>
    </div>
    
    
    <button id="buyItButton">Megveszem</button>

</div>