
.arrow{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    color:blue

  }
  .left-arrow{
    left:50px;
  }
  .right-arrow{
    right:50px;
  }
  
  