
<div *ngIf="post">  <!-- post létezik-e egyáltalán -->
    <!-- <p>
        {{post.id}}
    </p>
    <p>
        {{post.title}}
    </p>
    <p>
        {{post.body}}
    </p>
    <p>
        <span *ngFor="let tag of post.tags">
            {{tag}}
        </span>
    </p>
    <p>
        {{post.reactions}}
    </p> -->


    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{post.title | uppercase}}</mat-card-title>
          <mat-card-subtitle>Post id: {{post.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{post.body}}</p>
          <p>
            <span *ngFor="let tag of post.tags">
                {{tag}}
            </span>
          </p>
          <p>{{post.reactions}}</p>
        </mat-card-content>
    </mat-card>

</div>

